body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}
header {
  background: #090000;
  color: white;
  padding: 20px;
}
nav {
  margin-top: 10px;
  background: #be5d5d;
  padding: 10px;
}
nav a {
  color: rgb(32, 6, 6);
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}
.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}
.heritage-list img {
  width: 200px;
  height: 150px;
  margin: 10px;
}